*, .container {
    padding: 0;
    margin: 0;
}


body{
    background: #222;
    font-family: "Comfortaa", sans-serif;
}

.text-content {
    font-family: "Comfortaa", sans-serif;
}

h1, h2, h3, h4, h5, .text-title {
    font-family: "Chewy", system-ui !important;
}

.btn-go {
    background-color: #e7657d;
    color: #FFF;
}

.btn-go:hover {
    background-color: #FFF;
    border: 1px solid #e7657d;
    color: #222;
}

#body-container{
    max-width: 480px!important;
    left: calc(-50.6vw + 50%);
    right: calc(-50vw + 50%);
    margin-left: auto;
    margin-right: auto;
    background: #FFF;
    height: 100vh;
}


.bottom-bar {
    position: fixed;
    bottom: 0;
    /* left: 0; */
    margin-top: 100px;
    width: 480px!important;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 5px 0; */
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.4);
    z-index: 9999;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.bottom-bar a {
    text-decoration: none;
    color: #555;
    text-align: center;
    flex: 1;
}

.bottom-bar i {
    font-size: 22px;
    display: block;
    margin-bottom: 5px;
}

.bottom-bar a.active {
    color: #e7657d; /* Warna untuk menu aktif */
}

@media (max-width: 480px) {
    #body-container{
        /* max-width: 380px!important; */
        width: 100%!important;
        left: calc(-50.6vw + 50%);
        right: calc(-50vw + 50%);
        margin-left: auto;
        margin-right: auto;
    }

    .bottom-bar {
        width: 100%!important;
        /* left: calc(-50.6vw + 50%);
        right: calc(-50vw + 50%); */
        /* margin-left: auto;
        margin-right: auto; */

    }

    .bottom-bar i {
        font-size: 16px!important;
    }
}

.text-pink {
    color: #e7657d;
}

.hero {
    background-color: #FFF;
    height: 100vh;
}

.btn-signin {
    background-color: #e7657d;
    color: #FFF;
}

.btn-signin:hover {
    border: 1px solid #e7657d;
    color: #222;
    background-color: transparent;
}

@keyframes rotateCat {
    0%, 100% { transform: rotate(0deg); }
    50% { transform: rotate(20deg); }
}

@keyframes shrinkHero {
    0% { height: 100vh; }
    100% { height: 0; }
}

.hero {
    overflow: hidden;
    width: 100%;
    animation: shrinkHero 3s ease-in-out forwards;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; /* Pastikan hero di atas */
}

.hero img {
    /* animation: rotateCat 1s infinite alternate ease-in-out; */
}

.content {
    position: relative;
    z-index: 1; /* Pastikan tetap di bawah hero */
}

.cake-cat {
    animation: rotateCat 1s infinite alternate ease-in-out;
}
